{{extend 'layout.html'}}
<h1>Marreta Administration Interface</h1>

<ul>
    <li>User Administration</li>
        <ul>
            <li><a href="/marreta/admin/add_user"> Add new user</a></li>
            <li><a href="/marreta/admin/list_users">User Management</a></li>
        </ul>
</ul>
<ul>
    <li>Data Center Administration</li>
        <ul>
            <li><a href="/marreta/admin/list_dcs">Data Center Management</a>
                </li>
            <li><a href="/marreta/admin/add_dc">Add new Data Center</a></li>
        </ul>
</ul>
<ul>
    <li>Configuration Item (CI) Administration</li>
        <ul>
            <li><a href="/marreta/admin/add_ci">Add new CI</a></li>
            <li>CI Management</li>
        </ul>

</ul>